.show {
    margin: auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.show_select {
    margin: 0px 5px;
}

.list {
    margin: auto;
    text-align: center;
    margin-top: 10px;
    font-size: 16.5px;
    border-spacing: 0;
    border-bottom: 1px solid black;
}

.list_thead {
    border-bottom: 1px solid #111;
    padding: 10px 0px;
    cursor: pointer;
}

.list_thead:hover {
    background-color: rgb(226, 226, 226);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.list_tbody {
    height: 35px;
}

.list_line {
    border-top: 1px solid;
}


.show_page {
    display: flex;
    font-size: 17px;
}

.show_page_button {
    cursor: pointer;
    padding: 5px 7px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px -3px black;
}

.show_page_prev {
    margin-right: 8px;
}

.show_page_next {
    margin-left: 8px;
}

.show_page_text {
    padding: 5px 3px;
}

.center {
    justify-content: center;
}